<!DOCTYPE html>
<html>
<head>
    <title>Bildebehandling</title>
</head>
<body>
    <h1>Last opp bilder for bildebehandling</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" multiple required>
        <br><br>
        <select name="processing_method">
            <option value="thresholding">Thresholding</option>
            <option value="watershed">Watershed</option>
        </select>
        <br><br>
        <input type="submit" value="Utfør Prosessering">
        <a href="/region-growing">Region Growing</a>
    </form>
</body>
</html>

